html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 1rem);
}

.login-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.top-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #37bc9b;
  transition: width 0.3s ease;
  z-index: 1000;
}

.text-italic {
  font-style: italic;
}

.d-flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.h-full {
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {
  .cover-wrapper {
    flex-direction: column;
  }
}

.header-nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 1s ease;
}

.header-nav-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-nav-wrapper > a {
  text-decoration: none;
  color: #ffffff;
  margin: 15px 0;
  position: relative;
}

.header-nav-wrapper a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #37bc9b;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}

.header-nav-wrapper a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
}
